/* line 24, ../sass/_app.scss */
body {
  background-color: #393b3e;
  color: #888888;
  text-shadow: 0 1px 0 black;
}

/* line 30, ../sass/_app.scss */
hr {
  border-color: #222222;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 37, ../sass/_app.scss */
.button.ui-dark-button {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  border: 1px solid #1a1b1e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  background-color: #424549;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 57, ../sass/dark-ui-kit/_ui-kit.scss */
.button.ui-dark-button:hover {
  background-color: #4a4d51;
}
/* line 62, ../sass/dark-ui-kit/_ui-kit.scss */
.button.ui-dark-button:active {
  background-color: #3d4044;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.28), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.28), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.28), 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}

/* line 41, ../sass/_app.scss */
.ui-dark-panel-header {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  border: 1px solid #1a1b1e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  background: linear-gradient(top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 -2px 0 rgba(0, 0, 0, 0.17) inset;
  background-color: #424549;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 10px;
}

/* line 45, ../sass/_app.scss */
.panel {
  background-color: transparent;
  border: 1px solid #222222;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 54, ../sass/_app.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0 black;
}
