// ------------------------------
// buttons
// ------------------------------
// author : anas.nakawa@gmail.com
// license: MIT (http://opensource.org/licenses/mit-license.php)
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// import resources
//  - sub title
//  - sub title 2
// some mixin
// ------------------------------


// import resources
// ------------------------------
@import "settings";

// dark ui kit base
// the common styles across all ui kit elements
// ------------------------------
@mixin ui-dark-base($radius: 3px) {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  border: 1px solid #1a1b1e;
  @include background( 
    linear-gradient( top, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05) ) 
  );
  @include box-shadow(
    0 2px 1px rgba(0, 0, 0, 0.17)
    , 0 1px 0 rgba(255, 255, 255, 0.1) inset
    , 0 0 1px rgba(255, 255, 255, 0.15) inset
    , 0 -2px 0 rgba(0, 0, 0, 0.17) inset
  );
  background-color: #424549;
  color: white;
  color: rgba(255, 255, 255, 0.6);
  @include border-radius($radius)
}

// base button style
// ------------------------------
@mixin ui-dark-base-button($radius: 3px) {
  
  @include ui-dark-base($radius: $radius);
  
  // hover
  &:hover {
    background-color: #4a4d51;
  }
  
  // active
  &:active {
    background-color: #3d4044;
    
    @include background(
      linear-gradient( bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05) )
    );
    @include box-shadow(
      0 1px 0 rgba(255, 255, 255, 0.28)
      , 0 1px 3px rgba(0, 0, 0, 0.3) inset
    );
  }
}

// panel
// ------------------------------
@mixin ui-dark-panel {
  @include ui-dark-base($radius: 5px 5px 0 0);
  padding: 8px;
  .ui-panel-text-container {
    display: inline-block;
    padding: 8px;
  }
}

// panel button
@mixin ui-panel-button {
  @include float(left);
  @include ui-dark-base-button($radius: 2px);
  @include box-shadow(
    0 1px 0px rgba(255, 255, 255, 0.17)
    , 0 0 2px rgba(255, 255, 255, 0.1) inset
    , 0 1px 0 rgba(255, 255, 255, 0.1) inset
    , 0 0 1px rgba(255, 255, 255, 0.15) inset
    , 0 -2px 0 rgba(0, 0, 0, 0.17) inset
  );
  width: 30px;
  height: 30px;
  &.far {
    @include float(right);
  }
  &.ui-right-radius {
    @include border-left-radius(0);
  }
  &.ui-left-radius {
    @include border-right-radius(0);
  }
}

// icons
// ------------------------------
.ui-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: -1px;
  @include left(-9px);
  
  @each $icon in user, back, forward {
    &.#{$icon}-icon {
      background-image: url('../images/icons/#{$icon}.png');
    }
  }
}
